@import '../Global/Vars/Global-Vars.scss';

.Posts {
  @media (min-width: $bp-bigphone) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }

  @media (min-width: $bp-phablet) {
    grid-template-columns: repeat(auto-fill, 135px);
    grid-column-gap: 15px;
    grid-auto-flow: dense;
  }

  @media (min-width: $bp-tablet) {
    grid-template-columns: repeat(auto-fill, 105px);
  }

  @media (min-width: $bp-desktop-s) {
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, 145px);
  }

  @media (min-width: $bp-desktop-m) {
    grid-template-columns: repeat(auto-fill, 120px);
  }

  @media (min-width: $bp-desktop-l) {
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, 160px);
  }

  @media (min-width: $bp-desktop-xl) {
    grid-template-columns: repeat(auto-fill, 175px);
  }
}
