@import "../../../Global/Vars/Global-Vars.scss";

.Post-Content_size_s {
  margin-top: 0;
  flex-grow: 1;
}

.Post_hasImage .Post-Content_size_s {

  @media (min-width: 400px) {
    flex-direction: row;
    justify-content: flex-end;
  }

  @media (min-width: $bp-phablet) {
    width: 100%;
    padding-left: 0;
    margin-top: auto;
  }
}
