@import "../Vars/Global-Vars.scss";

BODY {
  min-width: 300px;
  margin: 0;
  background: #FFF;
  font: 14px/1.4 YS Text, Arial, sans-serif;
  color: #000;
}

IMG {
  max-width: 100%;
  height: auto;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
