@import "../../../Global/Vars/Global-Vars.scss";

.Post-Description_size_s {
  margin-top: 5px;
  line-height: 1.45;

  @media (min-width: $bp-bigphone) {
    max-height: 140px;
  }

  .Post_hasImage & {
    margin-top: 5px;
  }
}
