@import '../Global/Vars/Global-Vars.scss';

.App {
  margin: 0 auto 30px;
  padding: 0 15px;
  box-sizing: border-box;

  @media (min-width: $bp-phablet) {
    max-width: 585px;
    padding: 0;
  }
}
