@import '../../../Global/Vars/Global-Vars.scss';

.Post-Actions_size_s {
  margin-top: 0;
  flex-grow: 1;

  @media (min-width: 400px) {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 65px;
    margin-right: 10px;
    align-items: center;
  }
}

.Post_hasImage  .Post-Actions_size_s {
  position: relative;
  z-index: 1;
  bottom: 0;
  height: auto;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;

  @media (min-width: 400px) {
    flex-grow: 0;
  }
}
