@import '../../../Global/Vars/Global-Vars.scss';

.Post-Title_size_s {

  @media (min-width: $bp-tablet) {
    max-height: none;
    line-height: 1.2;
  }
}

.Post_hasImage .Post-Title_size_s {

  @media (min-width: $bp-tablet) {
    max-width: 100%;
    padding-left: 0;
    max-height: calc(17px * 1.25 * 3); /* 3 строки */
  }
}
