@import "../../../Global/Vars/Global-Vars.scss";

.Post-PictureWrapper_size_s {
  @media (min-width: 400px) {
    width: auto;
    max-height: 140px;
    align-items: center;
  }

  @media (min-width: $bp-phablet) {
    max-height: 100%;
    align-self: stretch;
  }
}
