@import "../../../Global/Vars/Global-Vars.scss";

.Post-Title_size_s {

  @media (min-width: $bp-desktop-s) {
    max-height: calc(17px * 1.4 * 2); /* 2 строки */
    line-height: inherit;
  }
}

.Post_hasImage .Post-Title_size_s {

  @media (min-width: $bp-desktop-s) {
    max-height: calc(17px * 1.4 * 5); /* 6 строк */
  }

  @media (min-width: $bp-desktop-m) {
    max-height: calc(17px * 1.4 * 6); /* 6 строк */
  }
}
