@import "../../Global/Vars/Global-Vars.scss";

.Post_size_l {

  @media (min-width: $bp-tablet) {
    margin-bottom: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "img img title" "img img content";
    grid-column: span 6;
  }
}
