@import "../../../Global/Vars/Global-Vars.scss";

.Post-Actions_size_s {

  @media (min-width: $bp-desktop-s) {
    height: 25px;
  }
}

.Post_hasImage .Post-Actions_size_s {

  @media (min-width: $bp-desktop-s) {
    width: 65px;
    flex-direction: row;
  }
}
