@import '../../../Global/Vars/Global-Vars.scss';

.Post-Description_size_m {
  margin-top: 0;
  max-height: 65px;

  @media (min-width: $bp-desktop-s) {
    max-height: 90px;
  }

  @media (min-width: $bp-desktop-m) {
    max-height: 70px;
  }

  @media (min-width: $bp-desktop-l) {
    max-height: 120px;
  }

  @media (min-width: $bp-desktop-xl) {
    max-height: 100px;
  }
}
