@import "../../Global/Vars/Global-Vars.scss";

.Post-Content {
  grid-area: content;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
}
