@import '../../../Global/Vars/Global-Vars.scss';

.Post-PictureWrapper_size_l {
  width: auto;
  order: -1;
  margin-right: 0;
  max-height: none;
  align-self: stretch;

  @media (min-width: 400px) {
    margin-bottom: 0;
    order: 0;
  }
}


