@import "../../Global/Vars/Global-Vars.scss";

.Post_size_m {

  @media (min-width: $bp-tablet) {
    height: 310px;
    margin-bottom: 25px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-column: span 3;
    grid-template-areas: "title" "img" "content";
  }
}
