@import '../../../Global/Vars/Global-Vars.scss';

.Post-Actions_size_m {

  @media (min-width: $bp-tablet) {
    width: 35px;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 0;
  }
}
